#mi_boton{
    background-color:rgb(81, 0, 173) ; /*Color de fondo*/
    color:cyan; /* Cyan */
    font-size: 16px;
    border-radius: 8px;
}

#mi_boton2{
    background-color:rgb(255, 253, 253) ; /*Color de fondo*/
    color:red; /* Red */
    font-size: 16px;
    border-radius: 8px;
}

#mi_boton3{
    background-color:rgb(0, 0, 0); /*Color de fondo*/
    color:violet; /* Violet */
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    background-color: blue;
    cursor: pointer;
}

/*1. Selector universal */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

    /*2. Selector de Tipo (etiqueta de html) */

p {
    line-height: 1.6;
    color: rgb(0, 0, 0);
    background-color: #334155;
    margin: 15px;
}

/* 3. Selector de clase (prefijo .), es reutilizable */

.destacado {
    background-color: blueviolet;
    border-radius: 30px;
    box-shadow: 0 4px 6px -1px rgba(123,0,0,0.5);
    padding: 12px;
    padding-top:50vh;
}

/* 4. Slector de ID, aplica para un solo elemento */

#parrafo_1{
    background-color: azure;
}

#parrafo_2{
    background-color: rgb(240, 243, 255);
    padding:15px;
}

/* .5 Selector descendiente, a las etiquetas "p" dentro de un "nav" */

nav p{
    font-size: 16px;
    color:blanchedalmond;
}

/* Unidades de medida
1. px (píxeles): Medida absoluta fija. Recomendada para bordes.

2. rem (Root EM): Medida relativa al tamaño de fuente del navegador.
                1rem = 16px
3. % (Porcentaje): Relativo al tamaño de la caja del padre.

3. vw /vh (Viewport width/height): Relativo a la pantalla completa.
                100 vh = 100% de la altura visible del monitor.

/*